/GestioneLibreriaMusicale/nbproject/private/
/MyStudentListAH/build/
/MyStudentListAH/dist/
/GestioneEventiSismici/build/
/GestioneEsami/build/
/GestioneOrdinazione/nbproject/private/
/GestioneOrdinazione/build/
/TestService/nbproject/private/
/INGVReport/nbproject/private/
/INGVReport/build/
/GestioneTrattori/nbproject/private/
/GestioneTrattori/build/
/GestioneSensoriLuce/nbproject/private/
/GestioneSensoriLuce/build/
